{{!-- this is index content --}}
<h1>Liste de magasins</h1>
<ul>
    {{!-- li{Magasins n°$}*5   --}}
    <li>Magasins n°1</li>
    <li>Magasins n°2</li>
    <li>Magasins n°3</li>
    <li>Magasins n°4</li>
    <li>Magasins n°5</li>
</ul>